/* FONTS */
@font-face {
  font-family: 'Calisto-MT';
  src: url(../fonts/Calisto-MT.ttf);
}

@font-face {
  font-family: 'Calisto-MT-Italic';
  src: url(../fonts/Calisto-MT-Italic.ttf);
}

@font-face {
  font-family: 'Calisto-MT-Bold';
  src: url(../fonts/Calisto-MT-Bold.ttf);
}

/* SCROLL BAR START	*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(3, 142, 123, 0.612);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff4f4;
  border-radius: 10px;
}

/* SCROLL BAR END */


/* BODY START */
body {
  background-color: rgba(0, 0, 0, 0.913);
  zoom: 0.9;
}

/* BODY END */


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





/* UNIVERSAL START */
* {
  margin: 0;
  padding: 0;
  font-family: "Calisto-MT";
}

.site-container {
  width: 1115px;
  margin: 0 auto;
}

.universal-h2 {
  font-size: 58px;
  text-align: center;
  color: #222;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* NAV START */
header {
  top: 0;
  right: 0px;
  z-index: 4;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  justify-content: space-between;
  text-align: center;
  transition: 0.3s;
  padding: 10px 10px;
 
  
}

a.logo {
  position: relative;
  font-weight: 700px;
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

header ul li {
  position: relative;
  list-style: none;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  margin: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.4s;
}

header ul li a:hover {
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff;
}

.sticky ul li a:hover {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff;
}

header ul li a {
  position: relative;
  margin: 0px 15px;
  text-decoration: none;
 font-family:  sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 109, 124);
  background-size: cover;
  border-radius: 20px;
}

header.sticky {
  padding: 10px 200px;
  background-color: rgb(0, 0, 0);
  z-index: 233;
  height: 8%;
}

header.sticky ul {
  padding-top: 15px;
}

header.sticky .logo,
header.sticky ul li a {
  color: rgb(255, 255, 255);
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

.icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.sticky .icon-burger .line {
  background-color: rgb(255, 255, 255);
}

/* NAV END */


/* TOP BANNER START */
.top-banner {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: url("https://www.semana.com/resizer/oWMUM_2ohHzjfYVpD7l4LehJfGg=/1280x720/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/2I2FQ4PNNVHFTP32KZPE3PNURQ.jpg");
  background-position: center bottom; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 80px;
  padding: 200px;
}


.top-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 21, 21);
  opacity: 0.8;
  
}

.top-banner .site-container {
  position: relative;
  z-index: 1;
}

.top-banner-inner {
  display: flex;
  align-items: center;
}

.top-banner-inner .top-banner-text {
  margin-left: 90px;
  padding-top: 100px;

}

.top-banner-inner .top-banner-text p {
  margin-bottom: 62px;
  color: rgb(255, 254, 254);
  text-align: center;
  
}

.top-banner-inner .top-banner-h2 {
  font-size: 74px;
  letter-spacing: 3px;
  color: #fff;
  font-family: 'Merienda', cursive;
}

.top-banner-inner .top-banner-text-up .top-banner-h2 {
  margin-top: 15px;
}

.top-banner-inner .top-banner-text-down {
  margin-bottom: 20px;
  padding-left: 27%;
}

.top-banner-inner .top-banner-text-down .top-banner-h2 {
  margin-bottom: 10px;
  
}

.top-banner-inner .top-banner-image {
  font-size: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 80px;

}

.top-banner-img {
  width: 100%;
  height: 400px;
  border-radius: 50%;
  padding-top: 10px;


}
.top-banner-img:hover {
  filter: grayscale(100%); 
}

.btn-cv {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgb(71, 70, 70);
  background: transparent;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  
}

.btn-cv:hover {
  background: rgb(20, 20, 20);
  color: white;
}

.brand-span {
  text-align: center;
  font-size: 20px;
  color: #b8c159;
}

/* TOP BANNER END */


/* ABOUT ME START */
.about-me {
  position: relative;
  margin: 0px 0 140px;
  padding: 80px;
}

.about-me-bckg {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.freepik.com/fotos-premium/banner-fondo-estudio-suave-fondo-degradado-lujo-diseno-abstracto_98870-795.jpg?w=740");
  background-position: center;
  background-size: cover;
  top: -85px;
  right: 0;
  height: calc(95% + 250px);
  width: 100%;
  z-index: -1;
}

.about-me-inner {
  display: flex;
  justify-content: space-between;
}

.about-me-slider {
  position: relative;
}

.about-me-slider .slick-arrow {
  position: absolute;
  bottom: -18%;
}

.about-me-slider .slick-prev {
  left: 40%;
}

.about-me-slider .slick-next {
  right: 30%;
}

.about-me-single-slide {
  font-size: 17px;
}

.span-arrow {
  padding: 10px 15px;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: 0.3s ease;
}

.span-arrow:hover {
  color: #fff;
  border-color: #fff;
}

.h5 {
  color: rgb(185, 184, 184);
  padding-bottom: 15px;
}

.portfolio-wrapper {
  width: 390px;
  padding: 8px;
  text-align: center;
  background-color: #fff;
}

.portfolio-wrapper .portfolio-img {
  font-size: 0;
}

.portfolio-wrapper .portfolio-img img {
  width: 100%;
}

.portfolio-wrapper .portfolio-bottom {
  padding: 35px 0 30px;
  background-color: #f5f5f5;
}

.portfolio-wrapper .portfolio-name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 23px;
}

.portfolio-name h2 {
  color: rgba(43, 43, 43, 0.801);
  margin-top: 5px;
}

.portfolio-wrapper .portfolio-name span {
  font-size: 90px;
  line-height: 75px;
  color: #ff0000;
  font-family: "Calisto-MT-Bold";
}

.portfolio-wrapper p {
  padding: 0 10%;
  line-height: 25px;
  font-style: italic;
  color: #777;
}

.about-me-text {
  width: 44%;
  margin-right: 80px;
  text-align: center;
}

.universal-h2 {
  padding-bottom: 20px;
  padding: 40px;
}

.about-me-text .universal-h2 {
  color: #ff0000;
}

.about-me-text p {
  margin-bottom: 35px;
  line-height: 24px;
  color: #ede2e2;
}

.about-me-text p span {
  font-size: 48px;
  color: #ff0707;
}

.about-me-text h4 {
  margin-bottom: 7px;
  font-size: 25px;
  color: #f7f6f5;
}

.about-me-text .p-white {
  margin-bottom: 0;
  color: #fff;
}

.slick-slide:focus {
  outline: none;
}

/* ABOUT ME END */


/* TOP SKILLS START */
.top-skills {
  margin-bottom: 140px;
  text-align: center;
  font-size: 20px;
  text-transform: none;
  border-color: #010101;
  position: relative;
  justify-self: start;
  justify-content: center;
}

.top-skills .universal-h2 {
  color: white;
  margin-bottom: 40px;
  padding-bottom: 30px;
  font-size: 45px;
  justify-content: center;
}

.single-skill-img img {
  width: 60px;
  height: 60px;
}

.skills {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.single-skill-img {
  opacity: 0.6;
}

.single-skill-img:hover {
  opacity: 1;
}



/* TOP SKILLS END */


/* COUNTER START */

.counters .site-container {
  position: relative;
  z-index: 1;
}

.counter-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-count {
  width: 23%;
  text-align: center;
  color: #fff;
}

.single-count span {
  display: block;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 900;
}

.single-count p {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}

.single-count-text img {
  width: 30%;
  height: 35%;
  margin-right: 20px;
}

.single-count-text {
  display: flex;
  justify-content: center;
}

/* COUNTER END */



/* SOCIAL END */
.socials {
  position: relative;
  padding: 53px 0;
  background-color: #2c2b2b;
  background-size: cover;
  background-position: center;
}

.socials::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #35303000;
  opacity: 0.9;
}

.socials .site-container {
  position: relative;
  z-index: 1;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social h5 {
  font-size: 24px;
  color: #fff;
}


.social-icons a {
  position: relative;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 70%;
  padding: 13px 23px;
  margin-right: 10px;
  transition: 0.3s ease;
}


.social-icons a:hover {
  background-color: rgb(65, 65, 65);
  border-color: transparent;
}

.social-icons a img:hover {
  width: 75%;
}

.social-icons a img {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* SOCIAL END */

/* FOOTER START */
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #00000061;
  color: #ffffff; 
  text-align: center; 
}

.site-footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto; 
}

.site-footer-inner p {
  font-size: 18px;
  font-family: "Merienda", cursive;
  padding-top: 25px;
}
.skill-name{
  color: #d9d9d9;
  padding: 15px;
}
/* FOOTER END */


/* RESPONSIVE, MEDIA QUERIES */
@media (min-width: 1600px) {
  .top-banner {
    min-height: 94vh;
  }
}

@media (max-width: 1600px) {
  .top-banner {
    padding-top: 00px;
  }
}

@media (max-width: 1500px) {

  header {
    padding: 30px 100px;
    margin-bottom: 10px;
  }

}

@media (max-width: 1250px) {
  .site-container {
    width: 90%;
  }

  .top-banner {
    padding-top: 130px;
  }

  .top-banner-inner .top-banner-text {
    width: 35%;
  }

  .top-banner-inner .top-banner-h2 {
    font-size: 50px;
  }

   .top-banner-inner .top-banner-image {
    width: 100%;
  margin-right: 222px;
    
  }

  .top-banner-inner .top-banner-image img {
    width: 1600%;
 
    
    
  } 

  .about-me {
    margin: 150px 0;
  }

  .about-me-text {
    width: 48%;
    margin-right: 40px;
  }

  .top-skills {
    margin-bottom: 60px;
  }

  .single-project .single-project-img a img {
    width: 100%;
    height: 100%;
  }

  
}

@media (max-width: 1150px) {
  .main-navigation {
    opacity: 0.94;
  }

  .quotes {
    padding: 75px 0 95px;
  }

  .quotes p {
    width: 90%;
  }

}

@media (max-width: 992px) {
  .portfolio-wrapper .portfolio-name {
    margin-bottom: 10px;
  }

  .portfolio-wrapper .portfolio-bottom {
    padding: 25px 0;
  }

  .portfolio-wrapper .portfolio-name span {
    font-size: 65px;
    line-height: 62px;
  }

  .portfolio-wrapper {
    margin-bottom: 20px;
  }

  .about-me-text {
    width: 100%;
    margin-right: 0;
  }

  .about-me {
    margin: 125px 0;
  }

  .about-me-bckg {
    width: 100%;
    height: 120%;
    padding-bottom: 15px;
  }

  .about-me-inner {
    flex-direction: column;
    align-items: center;
  }

  .single-project .single-project-text {
    padding: 5%;
  }

  .single-project .single-project-text h4 {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 24px;
  }

  .single-project .single-project-text p {
    font-size: 14px;
    line-height: 19px;
  }

  .wrap-contact {
    padding: 82px 80px 33px 80px;
  }

  .site-footer-inner {
    flex-direction: column;
    align-items: center;
  }

  .site-footer-inner p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {

  header.sticky {
    height: 14%;
  }

  header.sticky .logo {
    padding-top: 20px;
  }

  header.sticky ul {
    padding-top: 0;
  }

  header {
    padding: 30px;
    justify-content: center;
    text-align: center;
  }

  .menu a {
    font-size: 20px;
    color: white;
  }

  .sticky .menu a {
    font-size: 20px;
    color: white;
  }

  .icon-burger {
    display: block;
  }

  .icon-burger .line {
    background-color: white;
  }

  .menu {
    float: none;
    position: fixed;
    z-index: 9;
    background-color: #015967;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 100%;
    padding-top: 0;
    top: 100px;
    transition: all 0.5s ease-in-out;
  }

  header :checked~.menu {
    bottom: 0;
  }

  header :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  header :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  header :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

@media (max-width: 850px) {
  #countTitle {
    padding-top: 25px;
  }

  .counters {
    padding: 50px 0 20px;
    margin-bottom: 50px;
  }

  .single-count {
    width: 48%;
    margin-bottom: 30px;
  }

  .single-count .count {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .single-count {
    width: 48%;
    margin-bottom: 30px;
  }

  .single-skill {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .top-banner-inner .top-banner-text {
    width: 50%;
    margin-left: 20px;
  }

  .top-banner-inner .top-banner-text p {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .top-banner-inner .top-banner-h2 {
    font-size: 35px;
  }

  .top-banner-inner .top-banner-text-up .top-banner-h2 {
    margin-top: 0;
  }

  .top-banner-inner .top-banner-text-down .top-banner-h2 {
    margin-bottom: 0;
  }

  .rs1-wrap-input {
    width: 100%;
  }
}

@media (max-width: 668px) {

  .portfolio-name {
    margin: 0px 100px;
  }

  .portfolio-name h2 {
    color: rgba(43, 43, 43, 0.801);
    font-size: 40px;
  }
}

@media (max-width: 620px) {
  .portfolio-wrapper p {
    font-size: 15px;
    line-height: 0px;
  }

  .portfolio-wrapper {
    width: 250px;
  }
  
  .about-me-text p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .recent-projects {
    margin-bottom: 105px;
  }

  .quotes p {
    font-size: 14px;
    line-height: 19px;
  }

  .social {
    flex-direction: column;
  }

  .socials {
    padding: 40px 0;
  }
  
  .social-icons {
    margin: 35px 0;
  }

  .social-icons a img {
    opacity: 1;
  }


}

@media (min-width: 600px) {
  .single-project .single-project-text h4 {
    font-size: 24px;
  }

  .single-project .single-project-text span {
    margin-bottom: 7px;
    font-size: 12px;
  }

  .single-project .single-project-text p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .wrap-contact {
    padding: 82px 15px 33px 15px;
  }
}

@media (max-width: 520px) {
  .top-banner {
    padding-top: 105px;
  }

  .top-banner-inner .top-banner-text {
    width: 65%;
    margin-bottom: 20px;
    margin-left: 0;
  }

   .top-banner-inner .top-banner-image {
    width: 100%;
    margin-bottom: 100px;
  } 

  .top-banner-inner {
    flex-direction: column;
  }

  .about-me-slider .slick-prev {
    left: 34%;
  }

  .about-me-slider .slick-next {
    right: 24%;
  }

  .project-slider .slick-prev {
    left: 5%;
  }

  .project-slider .slick-next {
    right: 35%;
  }
}

@media (max-width: 500px) {
  .single-count {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  .single-skill {
    width: 100%;
    padding-bottom: 10px;
  }

  .skills {
    width: 75%;
    padding-bottom: 10px;
  }
}

@media (max-width: 426px) {
  .social-container {
    justify-content: center;
    position: relative;
    margin-right: 2%;
  }
}

@media (max-width: 420px) {
  .single-project .single-project-text {
    padding: 3%;
  }

  .single-project .single-project-text h4 {
    font-size: 16px;
  }

  .single-project .single-project-text span {
    margin-bottom: 7px;
    font-size: 12px;
  }

  .single-project .single-project-text p {
    font-size: 13px;
    line-height: 16px;
  }

}





.recent-projects {
  font-weight: bold;
  padding: 50px 0;
  font-size: 25px;
  
}

.site-container {
  text-align: center;
}

.universal-h2.recent-h2 {
  margin-bottom: 80px;
  padding-top: 30px;
}

.project-links ul {
  list-style: none;
  padding: 0;
}

.project-links li {
  margin-bottom: 30px;
}

.project-links a {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  transition: color 0.3s ease;
  filter: drop-shadow(1px 1px 1px rgb(52, 0, 124));
  font-size: 30px;
  font-family: sans-serif;
}


.project-links a:hover {
  color: #fafafa;
}
.recent-h2 {
  display: flex;
  align-items: center; 
}

.arrow img{
  padding: 50px; 
  
  
}
